/**
 * Custom Style Option Framework
 */

#optionsframework .section.section-info {
	background: #f1f1f1;
	padding: 0;
	margin-top: 15px;
}
#optionsframework .section.section-info h4 {
	font-size: 14px;
	padding: 10px 12px;
	margin: 0;
}

#optionsframework #section-tokopress_page_header_style.section .controls {
	width: 100%;
}
#optionsframework .controls .of-radio-img-selected {
	border: 3px solid #0074a2;
}
